body {
	background-color: #ffe;
	font-family: 'Coming Soon', cursive;
	/*border: 1px solid black;*/
}
a {
	text-decoration: none;
	color: #900;
}
img {
    border: 1px solid black;
}
.shaded {
	color: #887;
}